{% extends 'base.html' %}

{% block body_part %}
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
  <div class="panel-heading">No day choosen</div>
    <form class="enter-post" method="POST" id="post-form">
      {% csrf_token %}
      <button type="submit" class="btn btn-default btn-block">Add Task</button>
      <div class="fieldWrapper" id="the_post">
        {{ form.text }}
      </div>
      <div id="results"></div> <!-- errors go here -->
    </form>

    <ul id="talk" class="list-group">
      <li class="list-group-item">First item</li>
      <li class="list-group-item">Second item</li>
      <li class="list-group-item">Third item</li>
    </ul>
</div>
  </div>
  <div class="col-sm-8">
    {{calendar}}
    <ul class="pager">
      <li class="previous"><a href="#" class="btn btn-default">Previous</a></li>
      <li class="next"><a href="#" class="btn btn-default">Next</a></li>
    </ul>
  </div>
</div>
{% endblock %}
